/********************************************   Main   ********************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #02030B 0%, #0F0925 100%);
    color: #ECECEC;
    overflow-x: hidden; /* Ukrywa poziome przewijanie */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #ECECEC;
}

h1 {
    font-size: 5em;
    font-weight: 550;
    background: linear-gradient(to bottom right, #ECECEC 0%, rgba(236, 236, 236, 0) 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0.1em;
    padding: 0.1em;
}

.h1-more {
    color: rgba(236, 236, 236, 0.65); /* Kolor #ECECEC z 65% widocznoœci¹ */
    font-size: 1.2em; /* Przyk³adowy rozmiar czcionki, dostosuj wed³ug potrzeb */
    line-height: 1.4; /* Przyk³adowa wysokoœæ linii dla lepszej czytelnoœci */
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 500;
}

button {
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    padding: 10px 20px; /* Wewnêtrzne odstêpy dla lepszego wygl¹du */
    border: 2px solid #007BFF; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: #007BFF; /* Kolor t³a przycisku */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    font-size: 16px; /* Rozmiar czcionki */
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}


.button-v1 {
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    padding: 11px 21px; /* Wewnêtrzne odstêpy dla lepszego wygl¹du */
    border: 1px solid #ECECEC; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: transparent; /* Kolor t³a przycisku */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}

.button-v2 {
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    padding: 11px 21px; /* Wewnêtrzne odstêpy dla lepszego wygl¹du */
    border: 2px solid #ECECEC; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: #ECECEC; /* Kolor t³a przycisku */
    color: #0B0121; /* Kolor tekstu */
    font-weight: 500;
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}

.button-custom {
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    padding: 10px 20px; /* Wewnêtrzne odstêpy dla lepszego wygl¹du */
    border: 2px solid #007BFF; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: #007BFF; /* Kolor t³a przycisku */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    font-size: 16px; /* Rozmiar czcionki */
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}

.transparent {
    opacity: 0.75; /* 75% przezroczystoœci */
}

.message {
    width: 100vw;
    text-align: center;
    position: absolute;
    background-color: #02030B;
    color: white;
    margin-top: 6vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    padding:1vh;
}

.message.show {
    opacity: 1;
    visibility: visible;
}
/*End Main*/



/********************************************   Menu   ********************************************/

.nav-top{
    height: 7vh;
    z-index: 99;
    position: absolute;
    width: 100%;
}

.inter-nav {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #02030B;
    height: 100%;
}

nav li {
    float: left;
    height: 100%;
}

    nav li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ECECEC;
        padding: 14px 16px;
        text-decoration: none;
        height: 100%;
    }

nav .logo-bar {
    margin: 0;
    padding: 0;
    margin-left: 2em;
    font-weight: 600;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo-image{
    width: 1.5em;
    margin-right: 0.5em;
}

nav .nav-right {
    float: right;
    margin-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .last {
    margin-right: 10em;
}

.button-nav-v1{

}
/* End Menu */

/********************************************   Menu left   ********************************************/

.nav-left {
    height: 100vh;
    width: 5vw;
    float: left;
    position: fixed;
    top: 0;
    z-index: 98;
    padding-top: 10vh;
}

.icons-box1 {
    width: 100%;
    height: 10vh;
    background-image: url(../img/icons/icon1.svg);
    background-size: contain;
    background-position: center; /* Wycentruje t³o */
    background-repeat: no-repeat;
}

.icons-box2 {
    width: 100%;
    height: 10vh;
    background-image: url(../img/icons/icon4.svg);
    background-size: contain;
    background-position: center; /* Wycentruje t³o */
    background-repeat: no-repeat;
}

.icons-box3 {
    width: 100%;
    height: 10vh;
    background-image: url(../img/icons/icon3.svg);
    background-size: contain;
    background-position: center; /* Wycentruje t³o */
    background-repeat: no-repeat;
}

.active1 {
    height: 10vh;
    margin-top: -10vh;
    border-right: 5px solid transparent; /* Ustawienie przezroczystego obramowania */
    background: linear-gradient(to right, transparent, #591DDD 60%, transparent) right center no-repeat;
    background-size: 5px 50%; /* Ustawienie wielkoœci gradientu odpowiadaj¹cej gruboœci obramowania i wysokoœci obrazka */
    transition: background-size 0.6s ease; /* U¿ycie background-size w transition */
}

.active2 {
    height: 10vh;
    margin-top: -10vh;
    border-right: 5px solid transparent; /* Ustawienie przezroczystego obramowania */
    background: linear-gradient(to right, transparent, #9627c9 60%, transparent) right center no-repeat;
    background-size: 5px 50%; /* Ustawienie wielkoœci gradientu odpowiadaj¹cej gruboœci obramowania i wysokoœci obrazka */
    transition: background-size 0.6s ease; /* U¿ycie background-size w transition */
}

.active3 {
    height: 10vh;
    margin-top: -10vh;
    border-right: 5px solid transparent; /* Ustawienie przezroczystego obramowania */
    background: linear-gradient(to right, transparent, #cb31af 60%, transparent) right center no-repeat;
    background-size: 5px 50%; /* Ustawienie wielkoœci gradientu odpowiadaj¹cej gruboœci obramowania i wysokoœci obrazka */
    transition: background-size 0.6s ease; /* U¿ycie background-size w transition */
}

.active1:hover, .active2:hover, .active3:hover {
    background-size: 5px 60%;
    transition: background-size 0.6s ease; /* U¿ycie background-size w transition */
}  


/* End Menu */



/********************************************   Content   ********************************************/
.content {
    width: 100vw; /* Pe³na szerokoœæ przegl¹darki */
    height: 100vh; /* Pe³na wysokoœæ przegl¹darki */
}
/*End Content*/



/********************************************   Hero   ********************************************/
.container {
    padding-top: 10vh;
}
.hero {
    display: grid;
    place-items: center; /* Wyœrodkowanie poziome i pionowe */
    padding-left: 10vw;
    padding-right: 10vw;
}

.hero .button-margin{
    margin: 1em;
}

.teaser {
    height: 60vh;
    width: 50vw;
    background-image: url(../img/previews/test-preview.png);
    background-size: contain;
    background-position: center 1vh; /* Wycentruje t³o */
    background-repeat: no-repeat;
}

/*End Hero*/



/********************************************   Footer   ********************************************/
footer {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    bottom: 0;
}

.footer-left, .footer-right {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-left {
    padding-right: 10px;
}

.footer-right {
    padding-left: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
}

.footer-bottom-left {
    text-align: left;
}

.footer-bottom-right {
    display: flex;
    align-items: center; /* Wyrównanie obrazka i tekstu w pionie */
    justify-content: flex-end; /* Wyrównanie ca³oœci do prawej */
    text-align: right;
}

    .footer-bottom-right img {
        margin-right: 10px; /* Dystans miêdzy obrazkiem a tekstem */
        vertical-align: middle; /* Ustawia obrazek na œrodku w linii */
    }

    .footer-bottom-right h3 {
        display: flex;
        align-items: center; /* Wyrównanie tekstu do œrodka */
        margin: 0;
        line-height: 1; /* Dopasowanie wysokoœci linii */
    }

footer p, footer h3 {
    margin: 0;
    padding: 5px 0;
}

.copyright {
    color: #939393;
    font-size: 0.8em;
}
/*End Footer*/











/**************************************************************************   Dashboard.php   **************************************************************************/


/********************************************   Counter & Slider   ********************************************/








/**************************************************************************   Translator.php   **************************************************************************/


/********************************************   Main-app   ********************************************/

.app-box {
    height: 50vh;
    width: 50vw;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 30px -5px rgba(191, 191, 191, 1);
    -moz-box-shadow: 0px 0px 30px -5px rgba(191, 191, 191, 1);
    box-shadow: 0px 0px 30px -5px rgba(191, 191, 191, 1);
}

.app-camera, .sign-preview {
    height: 50vh;
    width: 25vw;
    position: relative;
}

.app-camera {
/*    background-color: blue;*/
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sign-preview {
/*    background-color: green;*/
    float: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sign-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Wype³nia kontener, zachowuj¹c proporcje wideo */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.info-required{
    padding: 1vw;
}

.app-text-box {
    margin: 2vh;
    margin-top: 4vh;
    margin-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 4.5vh;
    width: 35vw;
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    border: 2px solid #292A2F; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: transparent; /* Kolor t³a przycisku */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}

.app-microphone {
    height: 100%;
    width: 5%;
    background-image: url(../img/icons/microphone.svg);
    background-size: contain;
    background-position: center; /* Wycentruje t³o */
    background-repeat: no-repeat;
    float: left;
    position: relative;
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
}

.listening {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        background-image: url(../img/icons/microphone-active1.svg);
    }

    25% {
        background-image: url(../img/icons/microphone-active2.svg);
    }

    50% {
        background-image: url(../img/icons/microphone-active1.svg);
    }

    75% {
        background-image: url(../img/icons/microphone-active2.svg);
    }

    100% {
        background-image: url(../img/icons/microphone-active1.svg);
    }
}

.app-text {
    height: 100%;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    position: relative;
/*    padding: 11px 21px;*/
}

.text-send {
    height: 100%;
    width: 5%;
    background-image: url(../img/icons/send.svg);
    background-size: contain;
    background-position: center; /* Wycentruje t³o */
    background-repeat: no-repeat;
    float: left;
    position: relative;
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
}

#sign-text {
    width:100%;
    height:100%;
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    border: none; /* Kolor i gruboœæ obramowania */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    background-color: transparent;
}


/**************************************************************************   Edu.php   **************************************************************************/

/********************************************   Category   ********************************************/
.category-box {
    height: 57vh;
    width: 51vw;
    margin-bottom: 1vh;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 30px -5px rgba(191, 191, 191, 1);
    -moz-box-shadow: 0px 0px 30px -5px rgba(191, 191, 191, 1);
    box-shadow: 0px 0px 30px -5px rgba(191, 191, 191, 1);
    padding: 1vh;
    overflow-y: scroll;
}

.category {
    margin: 1vw;
    width: 20vw;
    height: 10vh;
    position: relative;
    border-radius: 20px;
    padding: 1vw;
    font-weight: 600;
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
}

.category1 {
    float: left;
    background-color: #9525C9;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(149, 37, 201, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(149, 37, 201, 1);
    box-shadow: 0px 0px 30px 0px rgba(149, 37, 201, 1);
}

.category2 {
    float: right;
    background-color: #6E3AE1;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(110, 58, 225, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(110, 58, 225, 1);
    box-shadow: 0px 0px 30px 0px rgba(110, 58, 225, 1);
}

.category-icon {
    width: 25%;
    height: 10vh;
    background-size: contain;
    background-position: center; /* Wycentruje t³o */
    background-repeat: no-repeat;
    float:left;
}

.category-image1 {
    background-image: url(../img/category/category1.svg);
}

.category-image2 {
    background-image: url(../img/category/category2.svg);
}

.category-title {
    width: 75%;
    height: 100%;
    text-align: center;
    float: right;
    display: flex;
    justify-content: center; /* Wyœrodkowanie w poziomie */
    align-items: center; /* Wyœrodkowanie w pionie */
}

.items {
    display: none;
}

.back-to-category{
    width: 35vw;
    margin-top: 3vh;
    display: none;
}