/*Main*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #0B0121;
    color: #ECECEC;
    overflow-x: hidden; /* Ukrywa poziome przewijanie */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*End Main*/



/*Menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B0121;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #111;
        }

.active {
    background-color: #04AA6D;
}
/*End Menu*/


/*Hero*/
.hero {
    display: grid;
    place-items: center; /* Wyœrodkowanie poziome i pionowe */
    width: 100vw; /* Pe³na szerokoœæ przegl¹darki */
    height: 100vh; /* Pe³na wysokoœæ przegl¹darki */
    background-image: url(../img/Hero-Background.png);
    background-size: cover; /* Rozci¹ga t³o na ca³¹ szerokoœæ i wysokoœæ */
    background-position: center 1vh; /* Wycentruje t³o */
    background-repeat: no-repeat; /* Zapobiega powtarzaniu t³a */
    padding-top:170px;
}
/*End Hero*/