/********************************************   Main   ********************************************/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #0B0121;
    color: #ECECEC;
    overflow-x: hidden; /* Ukrywa poziome przewijanie */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #ECECEC;
}

h1 {
    font-size: 5em;
    font-weight: 550;
    background: linear-gradient(to bottom right, #ECECEC 0%, rgba(236, 236, 236, 0) 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0.1em;
    padding: 0.1em;
}

.h1-more {
    color: rgba(236, 236, 236, 0.65); /* Kolor #ECECEC z 65% widocznoœci¹ */
    font-size: 1.2em; /* Przyk³adowy rozmiar czcionki, dostosuj wed³ug potrzeb */
    line-height: 1.4; /* Przyk³adowa wysokoœæ linii dla lepszej czytelnoœci */
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 500;
}

button {
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    padding: 10px 20px; /* Wewnêtrzne odstêpy dla lepszego wygl¹du */
    border: 2px solid #007BFF; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: #007BFF; /* Kolor t³a przycisku */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    font-size: 16px; /* Rozmiar czcionki */
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}


.button-v1 {
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    padding: 11px 21px; /* Wewnêtrzne odstêpy dla lepszego wygl¹du */
    border: 1px solid #ECECEC; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: transparent; /* Kolor t³a przycisku */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}

.button-v2 {
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    padding: 11px 21px; /* Wewnêtrzne odstêpy dla lepszego wygl¹du */
    border: 2px solid #ECECEC; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: #ECECEC; /* Kolor t³a przycisku */
    color: #0B0121; /* Kolor tekstu */
    font-weight: 500;
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}

.button-custom {
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    padding: 10px 20px; /* Wewnêtrzne odstêpy dla lepszego wygl¹du */
    border: 2px solid #007BFF; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: #007BFF; /* Kolor t³a przycisku */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    font-size: 16px; /* Rozmiar czcionki */
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}

.transparent {
    opacity: 0.75; /* 75% przezroczystoœci */
}
/*End Main*/



/********************************************   Menu   ********************************************/

nav{
    height: 7vh;
}

.inter-nav {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B0121;
    height: 100%;
}

nav li {
    float: left;
    height: 100%;
}

    nav li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        height:100%;
    }

/*        nav li a:hover:not(.active) {
            background-color: #111;
        }*/

nav .active {
    /*background-color: #007BFF;*/
    font-weight: 600;
}

nav .logo-bar {
    margin: 0;
    padding: 0;
    margin-left: 2em;
    font-weight: 600;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo-image{
    width: 1.5em;
    margin-right: 0.5em;
}

nav .nav-right {
    float: right;
    margin-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .last {
    margin-right: 10em;
}

.button-nav-v1{

}
/* End Menu */



/********************************************   Content   ********************************************/
.content {
    width: 100vw; /* Pe³na szerokoœæ przegl¹darki */
    height: 100vh; /* Pe³na wysokoœæ przegl¹darki */

}
/*End Content*/



/********************************************   Hero   ********************************************/
.container {
    background-image: url(../img/Hero-Background.png);
    background-size: contain; /* Rozci¹ga t³o na ca³¹ szerokoœæ i wysokoœæ */
    background-position: center -8vh; /* Wycentruje t³o */
    background-repeat: no-repeat; /* Zapobiega powtarzaniu t³a */
    padding-top: 22vh;
}
.hero {
    display: grid;
    place-items: center; /* Wyœrodkowanie poziome i pionowe */
    padding-left: 10vw;
    padding-right: 10vw;
}

.hero .button-margin{
    margin: 1em;
}

.teaser {
    height: 60vh;
    width: 50vw;
    background-image: url(../img/previews/test-preview.png);
    background-size: contain;
    background-position: center 1vh; /* Wycentruje t³o */
    background-repeat: no-repeat;
}

/*End Hero*/



/********************************************   Footer   ********************************************/
footer {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 1vh;
    padding-bottom: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-left, .footer-right {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-left {
    padding-right: 10px;
}

.footer-right {
    padding-left: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
}

.footer-bottom-left {
    text-align: left;
}

.footer-bottom-right {
    display: flex;
    align-items: center; /* Wyrównanie obrazka i tekstu w pionie */
    justify-content: flex-end; /* Wyrównanie ca³oœci do prawej */
    text-align: right;
}

    .footer-bottom-right img {
        margin-right: 10px; /* Dystans miêdzy obrazkiem a tekstem */
        vertical-align: middle; /* Ustawia obrazek na œrodku w linii */
    }

    .footer-bottom-right h3 {
        display: flex;
        align-items: center; /* Wyrównanie tekstu do œrodka */
        margin: 0;
        line-height: 1; /* Dopasowanie wysokoœci linii */
    }

footer p, footer h3 {
    margin: 0;
    padding: 5px 0;
}

.copyright {
    color: #939393;
    font-size: 0.8em;
}
/*End Footer*/











/**************************************************************************   Index.php   **************************************************************************/


/********************************************   Counter & Slider   ********************************************/
.counter{
    text-align: center;
}

.wrapper {
    display: flex;
    width: 750px;
    margin: 0 auto;
    overflow: hidden;
    padding: 2.5rem;
}

.item {
    animation: animate 120s alternate linear infinite;
}

.item img {
    max-width: 15em;
    padding-right: 3em;
}

.wrapper:hover .item {
    animation-play-state: paused;
}

@keyframes animate {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1100px, 0, 0);
    }
}

@media (max-width:767px) {
    .slider-area h2 {
        font-size: 30px;
    }

    .wrapper {
        width: 95%;
        border-radius: 0;
        padding: 0;
    }
}


/********************************************   Glow-circle   ********************************************/

.glow-circle {
    text-align: center;
    background-color: rgba(23, 7, 63, 100);
    background-image: radial-gradient(circle, rgba(23, 7, 63, 100) 0%, rgba(11, 1, 33, 1) 10%);
}



/********************************************   Boxes - Container for text   ********************************************/
.boxes {
    margin-left: 14vw;
    margin-right: 14vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Wyrównuje divy do góry */
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.box-half {
    padding: 2vw;
    width: 60vw; /* Ustawia szerokoœæ ka¿dego diva na 40% szerokoœci .box */
    box-sizing: border-box; /* Zapobiega dodaniu paddingu i marginesu do szerokoœci elementu */
    position: relative; /* Umo¿liwia stosowanie poœwiaty */
    border-radius: 15px 15px 0px 0px; /* Zaokr¹glenie rogów */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), /* Pierwszy cieñ: X=0, Y=4, Blur=4, kolor=000000 z 25% kryciem */
    0px -2px 10px rgba(233, 223, 255, 0.3), /* Drugi cieñ: X=0, Y=-2, Blur=10, kolor=E9DFFF z 30% kryciem */
    0px -2px 40px rgba(187, 155, 255, 0.15); /* Trzeci cieñ: X=0, Y=-2, Blur=40, kolor=BB9BFF z 15% kryciem */
}

    .box-half + .box-half {
        margin-left: 2vw; /* Ustawia odstêp miêdzy divami na 10% szerokoœci kontenera */
    }

/* Kontener dla .box */
.box {
    width: 68vw;
    margin-left: 14vw;
    margin-right: 14vw;
    margin-top: 4vh;
    margin-bottom: 8vh;
    padding: 2vw;
    background-color: transparent; /* Przezroczyste t³o */
    color: #ECECEC; /* Kolor tekstu */
    border-radius: 15px 15px 0px 0px; /* Zaokr¹glenie rogów */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), /* Pierwszy cieñ: X=0, Y=4, Blur=4, kolor=000000 z 25% kryciem */
    0px -2px 10px rgba(233, 223, 255, 0.3), /* Drugi cieñ: X=0, Y=-2, Blur=10, kolor=E9DFFF z 30% kryciem */
    0px -2px 40px rgba(187, 155, 255, 0.15); /* Trzeci cieñ: X=0, Y=-2, Blur=40, kolor=BB9BFF z 15% kryciem */
    position: relative;
    height: auto;
}

.box-left {
    width: 50%;
    height: auto;
    float: left;
}

.box-right {
    width: 50%;
    height: auto;
    float: right;
}


.box:after, .box-half:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px 15px 0px 0px; /* Dopasowanie zaokr¹glenia */
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100% );
    pointer-events: none; /* Wy³¹czenie interakcji */
}

.box a, .box-half a {
    text-decoration: underline;
    color: white;
}

    .hidden-box {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(11,1,33,1) 100%);
    mix-blend-mode: normal;
    position: relative;
    z-index: 99;
    width: 76vw;
    height: 5em;
    margin-left: 14vw;
    margin-right: 14vw;
    margin-top: -8vh;
    text-align: center;
}

.hidden-box-half-right {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(11,1,33,1) 100%);
    mix-blend-mode: normal;
    position: relative;
    z-index: 99;
    width: 35vw;
    height: 3em;
    margin-right: 14vw; 
    margin-top: -8vh;
    text-align: center;
    float: right;
}

.hidden-box-half-left {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(11,1,33,1) 100%);
    mix-blend-mode: normal;
    position: relative;
    z-index: 99;
    width: 35vw;
    height: 3em;
    margin-left: 14vw;
    margin-top: -8vh;
    text-align: center;
    float: left
}

.hidden-box-half + .hidden-box-half {
    margin-left: 2vw; /* Ustawia odstêp miêdzy divami na 10% szerokoœci kontenera */
}

.icons-box{
    margin: -2em;
}




/**************************************************************************   Project.php   **************************************************************************/

.timeline {
    text-align: center;
    background-image: url("../img/diagrams/timeline.svg");
    background-size: contain;
    background-position: center 1vh; /* Wycentruje t³o */
    background-repeat: no-repeat;
    height: 80vh;
}

.how-it-works-txt {
    text-align: center;
    height: 20vh;
    display: flex;
    justify-content: center; /* Wyœrodkowanie w poziomie */
    align-items: center; /* Wyœrodkowanie w pionie */
    height: 200px; /* Wysokoœæ kontenera */
}

.how-it-works {
    text-align: center;
    background-image: url("../img/diagrams/how-it-works.svg");
    background-size: contain;
    background-position: center 1vh; /* Wycentruje t³o */
    background-repeat: no-repeat;
    height: 50vh;
    margin-bottom: 10vh;
}


/**************************************************************************   About.php   **************************************************************************/

.timeline {
    text-align: center;
    background-image: url("../img/diagrams/timeline.svg");
    background-size: contain;
    background-position: center 1vh; /* Wycentruje t³o */
    background-repeat: no-repeat;
    height: 80vh;
}

.how-it-works-txt {
    text-align: center;
    height: 20vh;
    display: flex;
    justify-content: center; /* Wyœrodkowanie w poziomie */
    align-items: center; /* Wyœrodkowanie w pionie */
    height: 200px; /* Wysokoœæ kontenera */
}

.how-it-works {
    text-align: center;
    background-image: url("../img/diagrams/how-it-works.svg");
    background-size: contain;
    background-position: center 1vh; /* Wycentruje t³o */
    background-repeat: no-repeat;
    height: 50vh;
    margin-bottom: 10vh;
}