/*Main*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #0B0121;
    color: #ECECEC;
    overflow-x: hidden; /* Ukrywa poziome przewijanie */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

button {
   /* background-color: transparent;
    color: #ECECEC;
    border-radius: 50px;
    border-color: #ECECEC;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 1em;*/
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    padding: 10px 20px; /* Wewnêtrzne odstêpy dla lepszego wygl¹du */
    border: 2px solid #007BFF; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: #007BFF; /* Kolor t³a przycisku */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    font-size: 16px; /* Rozmiar czcionki */
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}


.button-nav-v1 {
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    padding: 10px 20px; /* Wewnêtrzne odstêpy dla lepszego wygl¹du */
    border: 1px solid #ECECEC; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: transparent; /* Kolor t³a przycisku */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}

.button-nav-v2 {
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    padding: 10px 20px; /* Wewnêtrzne odstêpy dla lepszego wygl¹du */
    border: 2px solid #ECECEC; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: #ECECEC; /* Kolor t³a przycisku */
    color: #0B0121; /* Kolor tekstu */
    font-weight: 500;
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}

.button-custom {
    display: inline-block; /* Ustawia, aby element by³ blokiem o okreœlonych wymiarach */
    padding: 10px 20px; /* Wewnêtrzne odstêpy dla lepszego wygl¹du */
    border: 2px solid #007BFF; /* Kolor i gruboœæ obramowania */
    border-radius: 25px; /* Zaokr¹glenie krawêdzi */
    background-color: #007BFF; /* Kolor t³a przycisku */
    color: white; /* Kolor tekstu */
    text-align: center; /* Wyœrodkowanie tekstu */
    text-decoration: none; /* Usuwa podkreœlenie */
    font-size: 16px; /* Rozmiar czcionki */
    cursor: pointer; /* Zmienia kursor na wskaŸnik przy najechaniu */
    transition: background-color 0.3s ease; /* P³ynne przejœcie koloru przy najechaniu */
}
/*End Main*/



/*Menu*/
nav{
    height: 7vh;
}

.inter-nav {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B0121;
    height: 100%;
}

nav li {
    float: left;
    height: 100%;
}

    nav li a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        height:100%;
    }

        nav li a:hover:not(.active) {
            background-color: #111;
        }

nav .active {
    /*background-color: #007BFF;*/
    font-weight: 600;
}

nav .logo-bar {
    margin: 0;
    padding: 0;
    margin-left: 2em;
    font-weight: 600;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo-image{
    width: 1.5em;
    margin-right: 0.5em;
}

nav .nav-right {
    float: right;
    margin-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .last {
    margin-right: 10em;
}

.button-nav-v1{

}
/*End Menu*/
/*Hero*/
.hero {
    display: grid;
    place-items: center; /* Wyœrodkowanie poziome i pionowe */
    width: 100vw; /* Pe³na szerokoœæ przegl¹darki */
    height: 100vh; /* Pe³na wysokoœæ przegl¹darki */
    background-image: url(../img/Hero-Background.png);
    background-size: cover; /* Rozci¹ga t³o na ca³¹ szerokoœæ i wysokoœæ */
    background-position: center 1vh; /* Wycentruje t³o */
    background-repeat: no-repeat; /* Zapobiega powtarzaniu t³a */
    padding-top: 170px;
}
/*End Hero*/